In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
bet = pd.read_csv('data/bet_digital.csv')
cbs = pd.read_csv('data/CBS_Marketing.csv')
eppo = pd.read_csv('data/Editorial_Post_Production_Operations.csv')
nick = pd.read_csv('data/Nickelodeon_Digital.csv')
pplus = pd.read_csv('data/Paramount_Plus_Brand_Creative.csv')
mpg = pd.read_csv('data/The_Multiplatform_Group.csv')

In [3]:
csvs = [bet, cbs, eppo, nick, pplus, mpg]
df= pd.concat(csvs, ignore_index=True) #concat takes a list of dictionaries

In [4]:
df

,User Name,Role,Product,User Satisfaction (0-5),Weekly Usage (0-7),Team
0,Marley Davis,Social Media Manager,Runway ML,5,3,BET Digital
1,Marley Davis,Social Media Manager,Google Gemini,2,0,BET Digital
2,Marley Davis,Social Media Manager,Adobe Firefly,4,5,BET Digital
3,Marley Davis,Social Media Manager,ChatGPT,3,2,BET Digital
4,Marley Davis,Social Media Manager,Microsoft Copilot,3,1,BET Digital
...,...,...,...,...,...,...
2305,Marley Wright,Multi-platform Editor,Adobe Firefly,0,0,The Multiplatform Group
2306,Marley Wright,Multi-platform Editor,ChatGPT,3,3,The Multiplatform Group
2307,Marley Wright,Multi-platform Editor,Microsoft Copilot,2,1,The Multiplatform Group
2308,Marley Wright,Multi-platform Editor,Claude AI,2,2,The Multiplatform Group
2309,Marley Wright,Multi-platform Editor,Cursor,1,0,The Multiplatform Group

# Questions to ask
1. Overalll product ratings across teams
2. For each team, what is the product rating and usage

# Exploration & cleaning

* Missing values with .isnull()
* data consistency 
    * * with different casing for names and values and spellings for columns and rows
* duplicated data with duplicated().sum()
* check data types for data integrity

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2310 entries, 0 to 2309
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   User Name                2310 non-null   object
 1   Role                     2310 non-null   object
 2   Product                  2310 non-null   object
 3   User Satisfaction (0-5)  2310 non-null   int64
 4   Weekly Usage (0-7)       2310 non-null   int64
 5   Team                     2310 non-null   object
dtypes: int64(2), object(4)
memory usage: 108.4+ KB

In [6]:
print("Null Values:")
print(df.isnull().sum())
print("-----")
print("Duplicated:")
print(df.duplicated().sum())

Null Values:
User Name                  0
Role                       0
Product                    0
User Satisfaction (0-5)    0
Weekly Usage (0-7)         0
Team                       0
dtype: int64
-----
Duplicated:
0

In [7]:
# strip whitespace from row data
# for data in df.columns:
#    if df[data].dtype == 'object':
#      df[data] = df[data].str.strip()

# this is the same as the for loop
df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
#strip whitespace from column names and lower the name
df.columns = df.columns.str.strip().str.lower()
df.columns = df.columns.str.replace(" ", "_")

df.head()

,user_name,role,product,user_satisfaction_(0-5),weekly_usage_(0-7),team
0,Marley Davis,Social Media Manager,Runway ML,5,3,BET Digital
1,Marley Davis,Social Media Manager,Google Gemini,2,0,BET Digital
2,Marley Davis,Social Media Manager,Adobe Firefly,4,5,BET Digital
3,Marley Davis,Social Media Manager,ChatGPT,3,2,BET Digital
4,Marley Davis,Social Media Manager,Microsoft Copilot,3,1,BET Digital

In [8]:
df.columns

Index(['user_name', 'role', 'product', 'user_satisfaction_(0-5)',
       'weekly_usage_(0-7)', 'team'],
      dtype='object')

In [16]:
df['role'].unique()

array(['Social Media Manager', 'Video Editor', 'Content Creator',
       'Motion Designer', 'Producer', 'Digital Strategist', 'Copywriter',
       'Graphic Designer', 'Creative Director', 'Community Manager',
       'Brand Manager', 'Videographer', 'Promo Producer', 'Media Buyer',
       'Marketing Manager', 'Campaign Strategist', 'Editor',
       'Avid Editor', 'Content Producer', 'Marketing Coordinator',
       'Brand Specialist', 'Creative Services Manager',
       'Post Production Supervisor', 'Media Manager', 'Encoder',
       'Quality Control Specialist', 'Workflow Manager',
       'Post Coordinator', 'Archive Specialist', 'Assistant Editor',
       'Operations Manager', 'Creative Lead', 'Kids Content Creator',
       'Digital Producer', 'Animation Designer', 'Brand Designer',
       'Campaign Manager', 'Video Producer', 'Art Director', 'Animator',
       'Visual Designer', 'Motion Graphics Designer',
       'Creative Strategist', 'UX Designer', 'Marketing Designer',
       'Platform Manager', 'Content Coordinator',
       'Social Media Specialist', 'Multi-platform Editor',
       'Audience Developer', 'Content Strategist', 'Distribution Manager'],
      dtype=object)

In [28]:
role_mapping = {
    'Creative Lead': 'Creative Director',
    'Social Media Specialist': 'Social Media Manager',
    'Campaign Manager': 'Campaign Manager',
    'Platform Manager': 'Community Manager',
    'Digital Strategist': 'Content Strategist', # <--- Added missing comma
    'Multi-platform Editor': 'Video Editor',
    'Editor': 'Staff Writer',
    'Avid Editor': 'Video Editor',
    'Motion Designer': 'Motions Graphics Designer',
    'Promo Producer' : 'Producer',
    'Campaign Strategist': 'Campaign Manager',
    'Encoder': 'Media Manager',
    'Workflow Manager': 'Operations Manager',
    'Animation Designer': 'Animator',
    'Brand Specialist': 'Brand Manager'
}
df['role'] = df['role'].replace(role_mapping)

In [35]:
df['role'].unique()

array(['Social Media Manager', 'Video Editor', 'Content Creator',
       'Motions Graphics Designer', 'Producer', 'Content Strategist',
       'Copywriter', 'Graphic Designer', 'Creative Director',
       'Community Manager', 'Brand Manager', 'Videographer',
       'Media Buyer', 'Marketing Manager', 'Campaign Manager',
       'Staff Writer', 'Content Producer', 'Marketing Coordinator',
       'Creative Services Manager', 'Post Production Supervisor',
       'Media Manager', 'Quality Control Specialist',
       'Operations Manager', 'Post Coordinator', 'Archive Specialist',
       'Assistant Editor', 'Kids Content Creator', 'Digital Producer',
       'Animator', 'Brand Designer', 'Video Producer', 'Art Director',
       'Visual Designer', 'Motion Graphics Designer',
       'Creative Strategist', 'UX Designer', 'Marketing Designer',
       'Content Coordinator', 'Audience Developer',
       'Distribution Manager'], dtype=object)

In [36]:
df.to_csv('/Users/lawhea1214/Documents/portfolio/data_analysis/utilization/data/total_department_surveys.csv', index=False)

In [37]:
ts = pd.read_csv('/Users/lawhea1214/Documents/portfolio/data_analysis/utilization/data/total_department_surveys.csv')

In [34]:
ts

,user_name,role,product,user_satisfaction_(0-5),weekly_usage_(0-7),team
0,Marley Davis,Social Media Manager,Runway ML,5,3,BET Digital
1,Marley Davis,Social Media Manager,Google Gemini,2,0,BET Digital
2,Marley Davis,Social Media Manager,Adobe Firefly,4,5,BET Digital
3,Marley Davis,Social Media Manager,ChatGPT,3,2,BET Digital
4,Marley Davis,Social Media Manager,Microsoft Copilot,3,1,BET Digital
...,...,...,...,...,...,...
2305,Marley Wright,Video Editor,Adobe Firefly,0,0,The Multiplatform Group
2306,Marley Wright,Video Editor,ChatGPT,3,3,The Multiplatform Group
2307,Marley Wright,Video Editor,Microsoft Copilot,2,1,The Multiplatform Group
2308,Marley Wright,Video Editor,Claude AI,2,2,The Multiplatform Group
2309,Marley Wright,Video Editor,Cursor,1,0,The Multiplatform Group

In [14]:
ts.groupby('product')[['user_satisfaction_(0-5)']].agg('mean')

                   user_satisfaction_(0-5)
product
Adobe Firefly                     3.009091
ChatGPT                           3.500000
Claude AI                         2.354545
Cursor                            1.742424
Google Gemini                     2.536364
Microsoft Copilot                 1.760606
Runway ML                         2.669697

In [ ]:
runway = ts[ts['product'] == 'Runway ML']
runway

,user_name,role,product,user_satisfaction_(0-5),weekly_usage_(0-7),team
0,Marley Davis,Social Media Manager,Runway ML,5,3,BET Digital
7,Phoenix Moore,Video Editor,Runway ML,1,0,BET Digital
14,Winter Jackson,Content Creator,Runway ML,3,2,BET Digital
21,Dylan Roberts,Social Media Manager,Runway ML,3,2,BET Digital
28,Riley Carter,Social Media Manager,Runway ML,3,2,BET Digital
...,...,...,...,...,...,...
2275,Hollis Scott,Multi-platform Editor,Runway ML,2,0,The Multiplatform Group
2282,Sam Parker,Digital Producer,Runway ML,3,1,The Multiplatform Group
2289,Jamie Campbell,Social Media Specialist,Runway ML,3,1,The Multiplatform Group
2296,Tatum Jackson,Audience Developer,Runway ML,0,0,The Multiplatform Group
2303,Marley Wright,Multi-platform Editor,Runway ML,2,1,The Multiplatform Group

In [ ]:
runway.groupby()

       user_satisfaction_(0-5)  weekly_usage_(0-7)
count               330.000000          330.000000
mean                  2.669697            1.663636
std                   1.536780            1.610814
min                   0.000000            0.000000
25%                   1.000000            0.000000
50%                   3.000000            2.000000
75%                   4.000000            3.000000
max                   5.000000            4.000000